<%- if controller_name != 'sessions' %>
  <%= link_to "Iniciar Sesión", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Regístrate", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%= link_to user_linkedin_omniauth_authorize_path, class: 'btn btn-block btn-linkedin' do %>
    <span class="fa fa-linkedin icon"></span><span class="social-text">Linkedin</span>
  <% end %><br />
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-google' do %>
    <img class="google-icon-svg icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/><span class="social-text contrast">Google</span>
  <% end %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>
